body{
    background-color: #E3D4D0;
}
.carousel-inner img {
    width: 100%;
    height: 400px; /* Altura fija del carrusel */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarla */
}

.titulo{
    padding-top: 20px;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic
}

.color{
    background-color: #DABEB6;
}